<% include ../partials/header %>

<div style="background-image: url(<%= city.city_image_url %>);" class="flex-container flex-center item-center full-height city-image">
  <div class="flex-container flex-center item-center full-height">
    <h1 class="city-name"><%= city.name %></h1>
    <p class="city-description"><%= city.description %></p>
  </div>
</div>

<div class="city-page-container">
<% if (isLoggedIn) { %>
<form action="/posts/<%= city.id %>/new">
  <button type="submit">Add a post</button>
</form>
<% } %>

<h2>Posts from the community</h2>
<% posts.forEach(function(post) { %>
<a class="post-title" href="/posts/<%= post.id %>"><p><%= post.title %></p></a>
<p><%= post.body %></p>
<% }) %>

</div>

<% include ../partials/footer %>
