<% include ../partials/header %>

<h1>Profile</h1>

<p><%= user.name %></p>
<p><%= user.primary_city %></p>
<p><%= user.joined_at %></p>

<% posts.forEach(function(post) { %>
<p><%= post.title %></p>
<p><%= post.body %></p>
<% }) %>

<% include ../partials/footer %>
