<% include ../partials/header %>

<div class="flex-container">
  <div class="profile-wrapper">
    <div class="profile-aside">
      <h2>Profile</h2>

      <p>Name: <%= user.name %></p>
      <p>Primary city: <%= user.primary_city %></p>
      <p>Date joined: <%= moment(user.joined_at).format("MMM DD YYYY") %></p>
    </div>
    <div class="post-container">
      <% posts.forEach(function(post) { %>
      <a href="/posts/<%= post.id %>"><h2 class="post-title"><%= post.title %></h2></a>
      <p><%= moment(post.created_at).format("MMM DD YYYY") %></p>
      <p><%= post.body %></p>
      <% }) %>
    </div>
  </div>
</div>

<% include ../partials/footer %>
